<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">B3</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="policy/101">
                <span class="bi bi-diagram-2-fill-nav-menu" aria-hidden="true"></span> Route Parameter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="policies">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Multi Route
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="component-composition">
                <span class="bi bi-grid-3x3-gap-fill-nav-menu" aria-hidden="true"></span> Composition
            </NavLink>
        </div>
    </nav>
</div>

