@page "/"

<PageTitle>Home</PageTitle>

<h1>B5 - 컴포넌트 생명주기</h1>
<p>이 예제 프로젝트는 <strong>Blazor 컴포넌트 생명주기 메서드</strong>를 다룹니다.</p>

<ul>
    <li><a href="lifecycle-init">LifecycleInitDemo</a> - OnInitialized / OnInitializedAsync</li>
    <li><a href="lifecycle-params">LifecycleParamsDemo</a> - OnParametersSet / OnParametersSetAsync</li>
    <li><a href="lifecycle-afterrender">LifecycleAfterRenderDemo</a> - OnAfterRender / JS 연동</li>
    <li><a href="lifecycle-dispose">LifecycleDisposeDemo</a> - IDisposable / IAsyncDisposable</li>
</ul>
